* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(255, 255, 255, 0.7);
    color: #041821;
    width: 390px;
    height: 1012px;
}

/* header */

h1 {
    font-family: 'Yeseva One';
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    margin: 55px 93px 0px 93px;
    text-align: center;
}

span {
    color: #1BD79E;
}

#socalMedia #mediaLight{
    display: flex;
    height: 16px;
    width: 99px;
    display: flex;
    justify-content: space-between;
    margin: 17px 146px 31px 145px;
}
#mediaDark{
    display: none;
}

#line {
    border-bottom: 1px solid #E5E5E5;
    margin: 0;
}

/* header ends */

/* main container */
/* article containing the intro and other chit chat*/
article {
    margin: 0px 34px 0px 28px;
    height: 289px;
}

h2 {
    height: 148px;
    font-family: 'Yeseva One', cursive;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    margin: 32px 0px 22px 0px;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
}
/* nav bar on list */
nav {
    height: 24px;
    margin: 31px 28px 21px 28px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav button {
    color: white;
    background: none;
    border: none;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
}

nav button:hover {
    background: #1BD79E;
}

ul {
    height: 333px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    list-style: none;
    margin: 0px 28px 0px 29px;
}
/* footer */
footer {
    margin: 48px 90px 49px 91px;
}

h3 {
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;
    margin-bottom: 10px;
    text-align: center;
}

h4 {
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    letter-spacing: 0.2em;}
footer p{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
/* toggle dark mode */
